.body {
    margin: 0 auto;
    /* width: 1440px; */
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
    color: rgba(227, 228, 230, 0.55);
    font-family: "Work Sans", "Arial", sans-serif;
}

@media screen and (max-width: 1280px) {
    .body {
        max-width: 1024px;
    }
}