.footer__social-icon_type_dribble {
    background-image: url("../../../../images/footer__dribble-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}