.footer__social-icon_type_behance {
    background-image: url("../../../../images/footer__behance-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}