.work__article-button {
    width: 163px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(227, 228, 230, 0.55);
    border-radius: 100px;
    color:#E3E4E6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.work__article-button:hover {
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    cursor: pointer;
}